backend:
  name: git-gateway
  branch: main

media_folder: static/img
public_folder: /img

collections:
  - label: "Pages"
    name: "pages"
    files:
      - label: "Home Page"
        name: "home"
        file: "content/home.yml"
        preview_path: home
        show_preview_links: false
        fields:
          - { label: Headline, name: headline, widget: string }
          - { label: Highlight, name: highlight, widget: string }
          - { label: Background, name: background, widget: image }
      
      - label: "Products Page"
        name: "products"
        file: "content/products.yml"
        preview_path: products
        show_preview_links: false
        fields:
          - { label: Headline, name: headline, widget: string }
          - { label: Background, name: background, widget: image }
      
      - label: "Contact"
        name: "contact"
        file: "content/contact.yml"
        preview_path: contact
        show_preview_links: false
        fields:
          - { label: Instagram, name: instagram, widget: string, hint: "Without @" }
          - { label: Whatsapp, name: whatsapp, widget: string, hint: "Without (+)"}
