backend:
  name: git-gateway
  branch: main
  
publish_mode: editorial_workflow
media_folder: static/img
public_folder: /img
site_url: "https://komorebi-bakery.netlify.app/"

collections:
  - label: "Pages"
    name: "pages"
    files:
      - label: "Home Page"
        name: "home"
        file: "content/home.yml"
        preview_path: home
        fields:
          - { label: Headline, name: headline, widget: string }
          - { label: Highlight, name: highlight, widget: string }
          - { label: Background, name: background, widget: image }
      
      - label: "Products Page"
        name: "products"
        file: "content/products.yml"
        preview_path: products
        fields:
          - { label: Headline, name: headline, widget: string }
          - { label: Background, name: background, widget: image }
      
      - label: "Contact"
        name: "contact"
        file: "content/contact.yml"
        preview_path: contact
        fields:
          - { label: Instagram, name: instagram, widget: string, hint: "Without @" }
          - { label: Whatsapp, name: whatsapp, widget: string, hint: "Without (+)"}
