.page-enter-active, .page-leave-active { transition: opacity 1s; }
.page-enter, .page-leave-active { opacity: 0; }

.button {
  @apply bg-opacity-40 rounded-lg p-2 hover:bg-opacity-80;
}

.bg-shadow {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.45);
}

.line-height {
  line-height: 1.25em;
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('~assets/fonts/NotoSansJP-Black.woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/NotoSansJP-Bold.woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/NotoSansJP-Medium.woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/NotoSansJP-Regular.woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/NotoSansJP-Light.woff');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('~assets/fonts/NotoSansJP-Thin.woff');
}
